<footer class="container-footer py-4 px-2 w-100 bg-white">
    <div class="row">
      <div class="col-12 col-md d-flex justify-content-center">
        <img class="mb-3" src="images/logomg.png" alt="" width="130" height="65">
      </div>
      <div class="col-6 col-md">
        <h5>ฝ่ายขาย</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-dark" href="#sale-promotion">โปรโมชั่น</a></li>
          <li><a class="link-dark" href="#sale-catagory">รุ่นรถทั้งหมด</a></li>
          <li><a class="link-dark" href="/bookdrive">จองคิวทดลองขับ</a></li>
          <li><a class="link-dark" href="#sales-act-news">กิจกรรมเเละข่าวสาร</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>ฝ่ายบริการ</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-dark" href="/bookgs">นัดเข้าบริการ</a></li>
          <li><a class="link-dark" href="/bookbp">นัดซ่อมสีเเละตัวถัง</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>สาขาศูนย์บริการ</h5>
        <ul class="list-unstyled text-small">
          <li><a  target="_blank" class="link-dark" href="https://www.google.co.th/maps/place/%E0%B9%80%E0%B8%AD%E0%B9%87%E0%B8%A1%E0%B8%88%E0%B8%B5+%E0%B9%81%E0%B8%AA%E0%B8%87%E0%B8%AD%E0%B8%B2%E0%B8%A3%E0%B8%B5+%E0%B8%A8%E0%B8%A3%E0%B8%B5%E0%B8%99%E0%B8%84%E0%B8%A3%E0%B8%B4%E0%B8%99%E0%B8%97%E0%B8%A3%E0%B9%8C+-+MG+Srinakarin/@13.6804219,100.6436309,17z/data=!3m1!4b1!4m6!3m5!1s0x311d5f41969edcc7:0x8a31b66b520e579f!8m2!3d13.6804219!4d100.6458196!16s%2Fg%2F11t7rbst1m?hl=th">ศรีนครินทร์</a></li>
          <li><a target="_blank" class="link-dark" href="https://www.google.co.th/maps/place/%E0%B9%80%E0%B8%AD%E0%B9%87%E0%B8%A1%E0%B8%88%E0%B8%B5+%E0%B9%81%E0%B8%AA%E0%B8%87%E0%B8%AD%E0%B8%B2%E0%B8%A3%E0%B8%B5+%E0%B8%AB%E0%B8%97%E0%B8%B1%E0%B8%A2%E0%B8%A3%E0%B8%B2%E0%B8%A9%E0%B8%8E%E0%B8%A3%E0%B9%8C+-+MG+HATHAIRAT/@13.8685081,100.7200109,17z/data=!3m1!4b1!4m6!3m5!1s0x311d7b11fa7a2981:0x2f75b068c6f3d0fd!8m2!3d13.8685081!4d100.7221996!16s%2Fg%2F11qnbmg2nh?hl=th">หทัยราษฎร์</a></li>
          <li><a target="_blank" class="link-dark" href="https://www.google.co.th/maps/place/%E0%B9%80%E0%B8%AD%E0%B9%87%E0%B8%A1%E0%B8%88%E0%B8%B5+%E0%B9%81%E0%B8%AA%E0%B8%87%E0%B8%AD%E0%B8%B2%E0%B8%A3%E0%B8%B5+%E0%B8%A3%E0%B8%B1%E0%B8%87%E0%B8%AA%E0%B8%B4%E0%B8%95+%E0%B8%84%E0%B8%A5%E0%B8%AD%E0%B8%87+4+-+MG+Rangsit+Khlong+4/@14.0030621,100.6909241,17z/data=!3m1!4b1!4m6!3m5!1s0x311d7f97fbed518d:0x8398bd2b62adf9d9!8m2!3d14.0030621!4d100.6931128!16s%2Fg%2F11n004z2z1?hl=th">รังสิต(คลอง 4)</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>เกี่ยวกับเรา</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-dark" href="#sec-reward">ความสำเร็จ</a></li>
          <li><a class="link-dark" href="#sec-aboutus">วิสัยทัศน์เเละพันธะกิจ</a></li>
          <li><a class="link-dark" href="/joinus">ร่วมงานกับเรา</a></li>
        </ul>
      </div>
    </div>
</footer>