<!-- <link rel="stylesheet" href="css/loader.css"> -->
<!-- <body onload="myLoader()"> -->
    <div class="lds-hourglass" id="preLoader"></div>
    <!-- <div id="pageContent" class="page-content fade-content"> -->
<!-- <script src="js/loader.js"></script> -->