
  <!--  new navbar -->
  <nav id="navbar" class="navbar d-flex justify-content-center bg-white align-items-center py-1 fixed-top">
      <div class="d-flex justify-content-center gap-4 align-items-center">
        <img src="images/logonavbar-1.png" alt="logonavbar" width="60" height="100%" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img">
        <div class="navbar-menu-box d-flex justify-content-center align-items-center">
          <a href="/" class="fw-bold text-decoration-none me-2">หน้าเเรก</a>
          <a href="#" class="fw-bold text-decoration-none me-2">ฝ่ายขาย</a>
          <a href="#" class="fw-bold text-decoration-none me-2">ศูนย์บริการ</a>
          <a href="#" class="fw-bold text-decoration-none me-2">ศูนย์ซ่อมสีเเละตัวถัง</a>
          <a href="#" class="fw-bold text-decoration-none me-2">ร่วมงานกับเรา</a>
        </div>
      </div>
  </nav>
  <!-- Fixed navbar -->
  <!-- <nav class="navbar navbar-expand-md d-flex justify-content-center fixed-top" > 
    <div class="container-fluid">
      <a class="navbar-brand py-0" href="#">
        <img src="images/logonavbar-1.png" alt="logonavbar" width="50" height="50" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img">
      </a>
      <button class="navbar-toggler collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse" >
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active text-dark fw-semibold" href="#sec-sale">ฝ่ายขาย</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark fw-semibold" href="#sec-service">ฝ่ายบริการ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark fw-semibold" href="#sec-reward">ความสำเร็จ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark fw-semibold" href="#sec-aboutus">เกี่ยวกับเรา</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark fw-semibold" href="#sec-contactus">ติดต่อเรา</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark fw-semibold" href="/joinus">ร่วมงานกับเรา</a>
          </li>
        </ul>
        <form class="d-flex">
          <a  href="/login" class="btn btn-outline-danger fw-semibold" type="submit">เข้าสู่ระบบ</a>
        </form>
      </div>
    </div>
  </nav>-->
