
  <!--  new navbar -->
  <!-- <nav id="navbar" class="navbar navbar-expand-md d-flex justify-content-center align-items-center py-1 fixed-top"> 
      <div class="d-flex justify-content-center gap-3 align-items-center">
        <a href="/" class="link-first-page me-2">
          <img src="images/logonavbar-1.png" alt="logonavbar" width="60" height="100%" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img">
        </a>
        <div class="navbar-menu-box d-flex justify-content-center align-items-center">
          <a href="/salepage" class="fw-bold text-decoration-none me-2">ฝ่ายขาย</a>
          <a href="/marketingpage" class="fw-bold text-decoration-none me-2">ฝ่ายการตลาด</a>
          <a href="/servicepage" class="fw-bold text-decoration-none me-2">ศูนย์บริการ</a>
          <a href="/bodypage" class="fw-bold text-decoration-none me-2">ศูนย์ซ่อมสีเเละตัวถัง</a>
          <a href="/aboutuspage" class="fw-bold text-decoration-none me-2">เกี่ยวกับเรา</a>
        </div>
      </div>
  </nav>-->
  <!-- Fixed navbar -->
  <nav id="navbar" class="navbar navbar-expand-md d-flex justify-content-center align-items-center py-1 fixed-top" aria-label="Fourth navbar example">
    <div class="d-flex justify-content-center gap-3 align-items-center">
      <a class="navbar-brand link-first-page me-2" href="/">
        <img src="images/logonavbar-2.png" alt="logonavbar" width="90px" height="100%" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <div class="navbar-menu-box d-flex justify-content-center align-items-center">
          <a href="/salepage" class="fw-bold text-decoration-none me-2">ฝ่ายขาย</a>
          <a href="/marketingpage" class="fw-bold text-decoration-none me-2">ฝ่ายการตลาด</a>
          <a href="/servicepage" class="fw-bold text-decoration-none me-2">ศูนย์บริการ</a>
          <a href="/bodypage" class="fw-bold text-decoration-none me-2">ศูนย์ซ่อมสีเเละตัวถัง</a>
          <a href="/aboutuspage" class="fw-bold text-decoration-none me-2">เกี่ยวกับเรา</a>
        </div>
        <!-- <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>
