<header class="w-100">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand py-0" href="#">
        <img src="images/logonavbar-1.png" alt="logonavbar" width="50" height="50" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img">
      </a>
      <button class="navbar-toggler collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse" >
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active text-dark fw-semibold" href="#sec-sale">ฝ่ายขาย</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark fw-semibold" href="#sec-service">ฝ่ายบริการ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark fw-semibold" href="#sec-reward">ความสำเร็จ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark fw-semibold" href="#sec-aboutus">เกี่ยวกับเรา</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark fw-semibold" href="/joinus">ร่วมงานกับเรา</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark fw-semibold" href="#sec-contactus">ติดต่อเรา</a>
          </li>
        </ul>
        <form class="d-flex">
          <a  href="/login" class="btn btn-outline-danger fw-semibold" type="submit">เข้าสู่ระบบ</a>
        </form>
      </div>
    </div>
  </nav>
</header>
