<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/loader.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/structure.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/loader.js" defer></script>
    <link rel = "icon" href = "images/logonavbar.jpg" type = "image/x-icon" >
    <title>MSA Body & Paint Page</title>
</head>
<body onload="myLoader()">
    <%- include('layouts/loader')  %>
    <div id="pageContent" class="page-content fade-content">
      <%-  include('layouts/navbar')  %>
      <%-  include('layouts/footer')  %>
    </div>
</body>
</html>