<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/loader.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/structure.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/loader.js" defer></script>
    <link rel = "icon" href = "images/logonavbar.jpg" type = "image/x-icon" >
    <link href="/css/joinus.css" rel="stylesheet">
    <title>MSA Join Us</title>
</head>
<body onload="myLoader()">
  <%- include('layouts/loader')  %>
    <div id="pageContent" class="page-content fade-content">
      <%-  include('layouts/navbar')  %>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check" viewBox="0 0 16 16">
          <title>Check</title>
          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
        </symbol>
      </svg>
    <div class="container py-3">
      <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-danger">
              <div class="card-header py-3 text-white bg-danger border-danger">
                <h4 class="my-0 fw-normal">ผู้จัดการ........</h4>
              </div>
              <div class="card-body">
                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">คุณสมบัติ</small></h3>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>10 users included</li>
                  <li>2 GB of storage</li>
                  <li>Email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-danger">วิธีการสมัคร</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-danger">
              <div class="card-header py-3 text-white bg-danger border-danger">
                <h4 class="my-0 fw-normal">เจ้าหน้าที่........</h4>
              </div>
              <div class="card-body">
                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">คุณสมบัติ</small></h3>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>20 users included</li>
                  <li>10 GB of storage</li>
                  <li>Priority email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-danger">วิธีการสมัคร</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-danger">
              <div class="card-header py-3 text-white bg-danger border-danger">
                <h4 class="my-0 fw-bold">ที่ปรึกษา......</h4>
              </div>
              <div class="card-body">
                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">คุณสมบัติ</small></h3>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>30 users included</li>
                  <li>15 GB of storage</li>
                  <li>Phone and email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-danger">วิธีการสมัคร</button>
              </div>
            </div>
          </div>
        </div>
    
        <h2 class="display-6 text-center mb-4">MG Saengaree Auto</h2>
    
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr class="text-secondary">
                <th style="width: 34%;">สวัสดิการ</th>
                <th style="width: 22%;">ผู้จัดการ</th>
                <th style="width: 22%;">เจ้าหน้าที่</th>
                <th style="width: 22%;">ที่ปรึกษา</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-start">ชุดฟอร์มพนักงาน</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">วันหยุดตามเทศการ</th>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
            </tbody>
    
            <tbody>
              <tr>
                <th scope="row" class="text-start">เบี้ยขยัน</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">ค่าส่งเสริมการขาย</th>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">ประกันสังคม</th>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">โบนัสประจำปี</th>
                <td></td>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
    <%-  include('layouts/footer')  %>
  </div>
    </body>
</html>