.container-footer {
    background-color: var(--main-color-wallpaper);
}
#underlinetopicfooter-sale {
    height: 2px;
    width: 40%;
}
#underlinetopicfooter-service {
    height: 2px;
    width: 40%;
}
#underlinetopicfooter-aboutus {
    height: 2px;
    width: 40%;
}
#underlinetopicfooter-marketing {
    height: 2px;
    width: 40%;
}
.footer-link {
    transition: 0.3s;
}
.footer-link:hover {
    text-decoration: underline;
}
