.navbar {
  background-color: rgb(227, 224, 224);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  width: 100%;
  opacity: 0.95;
}

.nav-link {
  font-weight: normal;
  transition: 0.3s;
}
.nav-link:hover {
  font-size: 110%;
  font-weight: bold;
}
  
