.navbar {
  background-color:  var(--main-color-wallpaper);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  opacity: 0.98; 
  height: 8vh;
  z-index: 999;

}
.link-first-page  {
  transition: 0.3s;
}
.link-first-page:hover  {
  transform: scale(1.25);
}
.navbar-menu-box a {
  color: black;
  letter-spacing: 0.5px;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 35px;
  height: 100%;
}
.navbar-menu-box a:is(:hover, :focus) {
  background-color: #e64444;
  color: #fff;
}
.content {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-toggler{
  transition: 0.3s;
  border-radius: 20px;
}
.navbar-toggler:focus {
  border : 3px solid var(--main-color-button);
  box-shadow: none;
}



